* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/fondo.jpg');
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;
    font-size: 18px;
}

.top-button {
    width: 30px;
    position: fixed;
    top: 90%;
    left: 90%;
    cursor: pointer;
}



.nav {
    margin-bottom: 50px;
}

.nav-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.group-item {
    list-style: none;
    background-color: red;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}

.pdf-button {
    background-color: rgb(255, 166, 0);
    padding: 1rem 1rem;
    margin: 3rem 0rem;
    text-align: center;
    font-weight: 600;
    border-radius: 15px;    
}

.pdf-button a {
    color: black;
    text-decoration: none;
}

.group-item  a{
    list-style: none;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.logo-image {
    width: 70%;
    max-width: 25rem;
}

.container-items {
    max-width: 60%;
    margin: 0 auto;
    padding: .8rem;
}

.title-box {
    background-color: red;
    padding: 2px 15px;
    color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.card-item {
    margin: 1.5rem .5rem;
}

.item-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: .8rem;
}


.item-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.item-price {
    font-size: 1.2rem;
    font-weight: 600;
}

.platos-fuertes, .ramen {
    margin-bottom: 3rem;
}

.table {
    width: 100%;
    text-align: left;
    border: 1px solid black;
}

.table-box {
    max-width: 60%;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #959595;
    text-align: left;
    padding: 6px;
    text-align: center;
    
}

.footer {
    background-color: red;
    text-align: center;
    padding: 2rem;
}

.footer p {
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    .container-items {
        max-width: 95%;
        margin: 0 auto;
        padding: .8rem;
    }
    .table-box {
        max-width: 95%;
    }
}

@media only screen and (max-width: 450px) {
    .nav-group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

