body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.entradas {
    border: 1px solid red;
}
.fuertes {
    border: 1px solid green;
}

.sushi {
    border: 1px solid blue;
}